.homeContainer{
    padding-left: 10px;
    
}
.homeGallery{
    display: flex;
}
.firstGallery{
    flex: 1;
}
.secondGallery{
    flex: 1;
}
.thirdGallery{
    flex: 1;
}
.fourthGallery{
    flex: 1;
}
.fifthGallery{
    flex: 1;
}
.sixthGallery{
    flex: 1;
}
.seventhGallery{
    flex: 1;
}
.eigthGallery{
    flex: 1;
}
.ninethGallery{
    flex: 1;
}
.tenthGallery{
    flex: 1;
}
.eleventhGallery{
    flex: 1;
}
.twelvethGallery{
    flex: 1;
}